.input-wrapper {
    width: 100%;
    height: 90px;
}

.display-prev {
    width: 100%;
    height: 29px;
}

.display-cur {
    width: 100%;
    height: 59px;
}

.display-cur, .display-prev {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}